*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body{
   color: #26313B
}
header{
    background-color: #FF9A6C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header nav a {
    color: #FFFFFF;
    font-weight: 600;
    padding: 2rem;
    text-decoration: none;
}

#inicio{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 5rem 8rem 5rem;
    position: relative
}

h1,
h2{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.paragrafo{
    line-height: 150%;
    margin-bottom: 2rem;
}

.botao{
    background-color: #FF725E;
    border-radius: 0.5rem;
    color: #FFFFFF;
    padding: 1rem 2rem;
    text-decoration: none;
}
.botao-transparente{
    background-color: transparent;
    color: #FF725E;
    padding: 1rem 2rem;
    text-underline-offset: 0.25rem;

}

.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica{
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 4rem 5rem;
}

#clinica li{
    margin-bottom: 1rem;
    margin-left: 2rem;
}

#farmacia{
    padding: 4rem 5rem;
    text-align: center;
}

#farmicia img{
    margin: 4rem auto;
}

#farmacia .paragrafo{
    max-width: 60rem;
    margin: 0 auto;
}

#duvidas{
    display:flex;
    align-items: center;
    gap: 4rem;
    padding: 4rem 5rem;
    .duvida{
        position: relative;
    }
}

.duvida h3{
    border: 2px solid #FF725E;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1.5rem;
}


.duvida img{
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

.duvida .paragrafo{
    border-right: 1px solid #FF725E;
    border-bottom: 1px solid #FF725E;
    border-left: 1px solid #FF725E;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 1.5rem;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.ativa .paragrafo{
    height: fit-content;
    opacity: 1;
    padding: 1.5rem;
}

footer{
    background-color: rgb(255, 152, 108, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 4rem 5rem;
}

footer img,
footer .titulo{
    display: block;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

footer nav a{
    color:#26313B;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
}

footer p{
    margin-bottom: 1rem;
    max-width: 22rem;
}

footer p a{
    color: #26313B;
    text-decoration: none;
}

#copyright{
    background-color: #26313B;
    padding: 1.5rem;
    color: #FFFFFF;
    text-align: center;
}

#copyright a{
    color: #FF9A6C;
}
